# ignore python cache
__pycache__/
*.pyc
pyrightconfig.json

# ignore OS files
.DS_Store

# file types to ignore
*.csv
*.env
*.txt
*.log
*.json

# ignore config files
config.py

# folders to ignore
data/
packages/
scratch/
outputs/
crawls/
browsertrix/